@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    width: 100%;
    height: 100%;
    --s: 70px;
    /* control the size */

    --_g: #000000cc 90deg, #1c564edf 0;
    background: conic-gradient(from 90deg at 1px 1px, var(--_g)),
        conic-gradient(from 90deg at 1px 1px, var(--_g));
    background-size: var(--s) var(--s);
}